*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 3vw;
    background-color: black;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    text-align: center;
    padding: 3vw 2vw;
    background-color: white;
    color: rgb(222, 2, 222);
    border-radius: 3%;
}

.image{
    width: 10vw;
    height: 8vw;
    padding: .3vw;
    background-color: rgb(222, 2, 222);
    border-radius: 5%;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.txt{
    display: flex;
    flex-direction: column;
    gap: .3vw;
}

.txt h2{font-size: 1.8vw;}
.txt h3{font-size: 1.5vw;color: rgb(159, 0, 159)}
.txt p{font-size: 1vw;}

.media{
    display: flex;
    gap: .5vw;
}

.icon{
    width: 1.8vw;
    height: 1.8vw;
}

.icon img{
    width: 100%;
    height: 100%;
}

/* mobile responsive */
@media(max-width:570px){
    .container{
        height: 100%;
        flex-direction: column;
        padding: 10vw 5vw;
        gap: 5vw;
    }
    
    .card{
        padding: 5vw;
        gap: 10px;
    }
    
    .image{
        width: 20vw;
        height: 18vw;
        padding: .5vw;
    }
    
    .txt h2{font-size: 3vw;}
    .txt h3{font-size: 2.5vw; margin-bottom: 2px;}
    .txt p{font-size: 2vw; width: 50vw;}
    
    .media{gap: 1vw;}
    
    .icon{
        width: 4vw;
        height: 4vw;
    }
}